Misuses of cryptographic APIs

Hi
The following lines have cryptographic API misuses. <br> File name => src/main/java/org/java_websocket/drafts/Draft_6455.java: Line number => 602: API name => MessageDigest:<BR> File name => src/main/java/org/java_websocket/drafts/Draft_6455.java: Line number => 598: API name => MessageDigest:First parameter (with value "SHA1") should be any of {SHA-256, SHA-384, SHA-512}<BR> File name => src/main/java/org/java_websocket/drafts/Draft_6455.java: Line number => 602: API name => MessageDigest:<BR>

Hello!
SHA1 algorithm is not used for security purposes. It is used as specified in RFC 6455 section 1.3 to generate the response:
> A SHA-1 hash (160 bits) [FIPS.180-3], base64-encoded (see Section 4 of
> [RFC4648]), of this concatenation is then returned in the server's
> handshake. 