From client send a custom ping message every 30sec and check for the pong message

I have a working client that is connected to a server. The client is getting the messages from the server but the connection is dropped because the server is expecting a custom pong message every 30 sec.

How can a achieve this?

By "custom pong message" do you mean a websocket pong frame (as defined in [RFC 6455 section 5.5.3](https://datatracker.ietf.org/doc/html/rfc6455#section-5.5.3)) or just a standard message with special format?

This library allows low level operations (such as sending pong messages) using the method [sendFrame](https://www.javadoc.io/static/org.java-websocket/Java-WebSocket/1.5.2/org/java_websocket/client/WebSocketClient.html#sendFrame-org.java_websocket.framing.Framedata-)

If you need to detect when a ping has been received, you can use the callback [onWebsocketPing](https://www.javadoc.io/static/org.java-websocket/Java-WebSocket/1.5.2/org/java_websocket/WebSocketAdapter.html#onWebsocketPing-org.java_websocket.WebSocket-org.java_websocket.framing.Framedata-)

Sorry I did a typo, mz client need to send a ping message like this one {\"op\":\"ping\"} every 30 seconds, how can I send this message every 30 secs?

Thats pretty simple, you can use either Timer or ScheduledExecutorService for calling a method every 30 seconds.
See https://docs.oracle.com/en/java/javase/11/docs/api/java.base/java/util/concurrent/ScheduledExecutorService.html#scheduleAtFixedRate(java.lang.Runnable,long,long,java.util.concurrent.TimeUnit) and https://docs.oracle.com/en/java/javase/11/docs/api/java.base/java/util/Timer.html#scheduleAtFixedRate(java.util.TimerTask,long,long)

Something like this:
```java
ScheduledExecutorService scheduler = Executors.newScheduledThreadPool(1);
scheduler.scheduleAtFixedRate(() -> webSocketServer.send("{\"op\":\"ping\"}"), 0, 30, TimeUnit.SECONDS);
```

Thanks, this does make sense! 

I can see a sendPing() method in Java(to ping from client), kindly let me know how I can send custom ping messages using java script?